<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.mapper.VolunteerMapper">
    <select id="listAll" resultType="com.me.entity.Volunteer">
        select * from volunteer
    </select>

    <select id="findByCondition" resultType="com.me.entity.Volunteer">
        select * from volunteer
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="availableRange != null and availableRange != ''">
                and available_range = #{availableRange}
            </if>
        </where>
    </select>
</mapper>
